{{>partial_header}}
{{#operations}}
{{#operation}}
{{#description}}
 * Schema {{{classname}}} : {{{description}}}
{{/description}}
{{/operation}}
{{/operations}}
 *)

type any = Yojson.Safe.t

{{#operations}}
{{#operation}}
val {{{operationId}}} : sw:Eio.Switch.t -> Cohttp_eio.Client.t -> ?headers:Cohttp.Header.t -> {{^hasParams}}unit{{/hasParams}}{{#allParams}}{{#required}}{{{paramName}}}{{/required}}{{^required}}{{^isBodyParam}}?{{/isBodyParam}}{{{paramName}}}{{/required}}:{{#isEnum}}Enums.{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{^-last}} -> {{/-last}}{{#-last}} -> unit{{/-last}}{{/allParams}} -> ({{#returnType}}{{{returnType}}} Json_response_scanner.t{{/returnType}}{{^returnType}}unit{{/returnType}}, Cohttp.Response.t) result
{{/operation}}
{{/operations}}
