(include_subdirs unqualified)
(library
   (name {{{packageName}}})
   (public_name {{{packageName}}})
   (flags (:standard -w -27))
   (libraries str cohttp-eio cohttp yojson)
   (preprocess (pps ppx_yojson_conv ppx_deriving.std))
   (wrapped true)
)